.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.botao {
    font-size: 1.1em;
    padding: .2em;
    margin-left: .6em;
    background: #000;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
}

.botao:hover {
    color: aqua;
    transition: 0.5s;
}

.container {
    width: 40%;
}

form {
    margin: 2em 0;
}