.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 2;
    top: 0;
}

.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em .5rem;
    color: #000;
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;
    border: none;
    margin-bottom: 0.12rem;
}

.botao:hover {
    color: #000;
    background: rgb(0, 255, 0);
    transition: 0.5s;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav a span {
    color: rgb(0, 255, 0);
    margin-left: .5rem
}

nav a svg {
    margin-bottom: .28rem;
    color: rgb(0, 255, 0);
}

@media(max-width: 640px) {
    .nav {
        flex-direction: column;
    }
}