.spinner {
    background-image: linear-gradient(rgb(87, 227, 87) 35%, green);
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(87, 227, 87), 0px 5px 20px 0px rgb(23, 202, 23);
}

.spinner1 {
    background-color: rgb(4, 32, 1);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}